<a href="https://colab.research.google.com/github/Piripack/business-bot/blob/main/Database_Setup_Script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This script includes a setup_database.py script responsible for creating and populating the database required for the business bot.

In [ ]:
import sqlite3
from faker import Faker

Imports: Importing the sqlite3 module for database operations and the Faker library for generating fake data.

In [ ]:
fake = Faker()

Faker Instance: Creating an instance of the Faker class to generate fake data.

In [ ]:
# Create a SQLite database
conn = sqlite3.connect('business_bot.db')
c = conn.cursor()

Database Connection: Connecting to (or creating) a SQLite database file named business_bot.db and creating a cursor object c for executing SQL commands.

In [ ]:
# Create tables
c.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    email TEXT,
    password TEXT,
    dob TEXT,
    fav_color TEXT,
    name TEXT,
    phone TEXT,
    address TEXT,
    registration_date TEXT,
    last_login TEXT
)
''')

Create Users Table: Executing an SQL command to create a users table if it doesn't already exist. This table includes columns for:
id: A unique identifier for each user (primary key).
email: User's email address.
password: User's password.
dob: User's date of birth.
fav_color: User's favorite color.
name: User's name.
phone: User's phone number.
address: User's address.
registration_date: Date when the user registered.
last_login: Date of the last login.

In [ ]:
c.execute('''
CREATE TABLE IF NOT EXISTS appointments (
    id INTEGER PRIMARY KEY,
    user_id INTEGER,
    date TEXT,
    time TEXT,
    description TEXT,
    FOREIGN KEY(user_id) REFERENCES users(id)
)
''')

Create Appointments Table: Executing an SQL command to create an appointments table if it doesn't already exist. This table includes columns for:
id: A unique identifier for each appointment (primary key).
user_id: Foreign key linking to the users table.
date: Date of the appointment.
time: Time of the appointment.
description: Description of the appointment.

In [ ]:
c.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY,
    name TEXT,
    description TEXT,
    price REAL,
    stock INTEGER
)
''')

Create Products Table: Executing an SQL command to create a products table if it doesn't already exist. This table includes columns for:
id: A unique identifier for each product (primary key).
name: Product's name.
description: Description of the product.
price: Price of the product.
stock: Quantity of the product in stock.

In [ ]:
c.execute('''
CREATE TABLE IF NOT EXISTS faqs (
    id INTEGER PRIMARY KEY,
    question TEXT,
    answer TEXT
)
''')

Create FAQs Table: Executing an SQL command to create a faqs table if it doesn't already exist. This table includes columns for:
id: A unique identifier for each FAQ (primary key).
question: FAQ question.
answer: FAQ answer.

In [ ]:
# Populate users table with 100 rows of data
for _ in range(100):
    c.execute('''
    INSERT INTO users (email, password, dob, fav_color, name, phone, address, registration_date, last_login)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        fake.email(),
        fake.password(),
        fake.date_of_birth(tzinfo=None, minimum_age=18, maximum_age=90).isoformat(),
        fake.color_name(),
        fake.name(),
        fake.phone_number(),
        fake.address(),
        fake.date_this_decade().isoformat(),
        fake.date_this_year().isoformat()
    ))

Insert Fake User Data: Looping 100 times to insert fake data into the users table. For each iteration, generating:
email: Fake email.
password: Fake password.
dob: Fake date of birth.
fav_color: Fake favorite color.
name: Fake name.
phone: Fake phone number.
address: Fake address.
registration_date: Fake date of registration within the current decade.
last_login: Fake date of last login within the current year.

In [ ]:
# Populate products table with sample data
products = [
    ("Product 1", "This is an amazing product 1.", 29.99, 100),
    ("Product 2", "This is an amazing product 2.", 49.99, 50),
    ("Product 3", "This is an amazing product 3.", 19.99, 200)
]
c.executemany('INSERT INTO products (name, description, price, stock) VALUES (?, ?, ?, ?)', products)

Insert Sample Products: Defining a list of sample products and inserting them into the products table using executemany to execute the insertion for multiple rows at once.

In [ ]:
# Populate faqs table with sample data
faqs = [
    ("What are your working hours?", "Our working hours are 9 AM to 5 PM from Monday to Friday."),
    ("Where are you located?", "We are located at 123 Business St., Manchester, UK.")
]
c.executemany('INSERT INTO faqs (question, answer) VALUES (?, ?)', faqs)

Insert Sample FAQs: Defining a list of sample FAQs and inserting them into the faqs table using executemany for multiple rows at once.

In [ ]:
# Commit changes and close connection
conn.commit()
conn.close()

Commit and Close: Committing the changes to the database (saving all the data inserted) and closing the connection to the database to ensure all resources are released.